<%= form_for @person, html: { class: 'space-y-6', data: { controller: 'person', 'person-address-visible-value': @person.address&.persisted? || @person.address&.errors&.any? } } do |f| %>
  <% if @person.errors.any? %>
    <ul class="mt-4 text-red-600 list-disc ml-4">
      <% @person.errors.map do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="grid grid-cols-2 gap-4 mt-4" >
    <div class="form-input">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Nome' %>
    </div>

    <div class="form-input">
      <%= f.label :email, 'E-mail' %>
      <%= f.text_field :email, placeholder: 'E-mail' %>
    </div>

    <div class="form-input">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'phone-mask', placeholder: '(XX) XXXXX-XXXX' %>
    </div>

    <div class="form-input">
      <%= f.label :birthdate %>
      <%= f.text_field :birthdate, class: 'w-full date-mask', placeholder: 'dd/mm/yyyy' %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-bold">Endereço</h1>

    <%= link_to 'javascript:void(0)', class: 'btn-primary !hidden',
                                      data: { action: 'person#toggleAddressVisible',
                                              'person-target': 'removeButton' } do %>
      <i class="fa fa-minus"></i>
    <% end %>
  </div>

  <div data-person-target="address" class="hidden">
    <%= f.fields_for :address, @person.address || Address.new do |fa| %>
      <%= fa.hidden_field :id %>
      <%= fa.hidden_field :_destroy %>

      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="col-span-2 w-1/2 form-input">
          <%= fa.label :postal_code %>
          <%= fa.text_field :postal_code, placeholder: 'Código Postal' %>
        </div>

        <div class="form-input">
          <%= fa.label :street %>
          <%= fa.text_field :street, placeholder: 'Rua' %>
        </div>

        <div class="form-input">
          <%= fa.label :city %>
          <%= fa.text_field :city, placeholder: 'Cidade' %>
        </div>

        <div class="form-input">
          <%= fa.label :state %>
          <%= fa.text_field :state, placeholder: 'Estado' %>
        </div>

        <div class="form-input">
          <%= fa.label :country %>
          <%= fa.text_field :country, placeholder: 'País' %>
        </div>
      </div>
    <% end %>
  </div>

  <div data-person-target="addAddress" class="space-y-8 my-12 text-center hidden">
    <h1 class="mx-auto text-2xl font-medium">Nenhum endereço adicionado</h1>

    <%= link_to 'javascript:void(0)', class: 'btn-primary w-1/5 mx-auto',
                                      data: { action: 'person#toggleAddressVisible' } do %>
      Adicionar Endereço
    <% end %>
  </div>

  <div class="flex justify-between">
    <%= link_to 'Voltar', people_path, class: 'btn-secondary' %>
    <%= f.submit 'Enviar', class: 'btn-primary' %>
  </div>
<% end %>